@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,300&family=Ultra&display=swap");
/* Font Rules

    font-family: 'Raleway', sans-serif;
    font-family: 'Ultra', serif;
*/
/* font family 
primary 
    font : Raleway
    weight : 400
accent
    font : Raleway
    weight : 300
    style : italic
*/
/* Color
primary
    normal : #01579b
    light : #4f83cc
    dark : #002f6c
secondary 
    normal : #ffc107
    light : #fff350
    dark : #c79100
*/
/* Début du traitement

*/
* {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

ul.transition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
  padding: 0;
  list-style: none;
}

ul.transition li {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  background-color: #000025;
  width: calc(100% / 6);
}

.toggle-btn {
  display: block;
  position: fixed;
  width: 50px;
  height: 30px;
  top: 60px;
  right: 80px;
  z-index: 200;
  cursor: pointer;
}

.toggle-btn span {
  display: block;
  position: absolute;
  height: 4px;
  -webkit-transition: width .4s ease-in-out;
  transition: width .4s ease-in-out;
  width: 100%;
  background-color: #000025;
}

.toggle-btn .one {
  position: absolute;
}

.toggle-btn .two {
  position: absolute;
  margin-top: 12px;
}

.menu {
  z-index: 0;
  position: absolute;
  background-color: #0a004b;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.menu .data {
  padding: 8em 0 0 2em;
  text-align: left;
}

.menu .data ul {
  list-style: none;
}

.menu .data ul li:first-child {
  color: #c50426;
  font-family: "Ultra", serif;
  font-size: 2rem;
}

.menu .data ul li:not(:first-child) {
  color: #ff4f4f;
  font-size: 4rem;
}

.menu .data ul a {
  color: #ff4f4f;
  text-decoration: none;
}

.menu .data ul a:hover {
  color: #c50426;
}
