@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,300&family=Ultra&display=swap');

/* Font Rules

    font-family: 'Raleway', sans-serif;
    font-family: 'Ultra', serif;
*/


/* font family 
primary 
    font : Raleway
    weight : 400
accent
    font : Raleway
    weight : 300
    style : italic
*/

$font-primary: 'Raleway',
sans-serif;
$font-secondary: 'Ultra',
serif;

/* Color
primary
    normal : #01579b
    light : #4f83cc
    dark : #002f6c
secondary 
    normal : #ffc107
    light : #fff350
    dark : #c79100
*/

$color-primary: #0a004b;
$color-primary-dark: #000025;
$color-secondary: #ff4f4f;
$color-secondary-dark:#c50426;

/* Début du traitement

*/

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: $font-primary;
}

body,
html {
    margin: 0;
    padding: 0;
}

// .loader {
//     height: 100vh;
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     left: 0;
//     background-color: #111111;
//     z-index: 1000;
// }
ul.transition {
    display: flex;
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    pointer-events: none;
    padding: 0;
    list-style: none;
    li {
        transform: scaleY(0);
        background-color: $color-primary;
        width: calc(100% / 6);
    }
}

#header {
    nav {
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
        .logo {
            margin: 0 0 0 2rem;
        }
        a {
            text-decoration: none;
            font-size: 2rem;
            color: #111111;
        }
        ul {
            margin: 0;
            padding: 0;
        }
        .menu-btn {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1.5rem;
            height: 1.5rem;
            margin: 0 2rem 0 0;
            cursor: pointer;
            z-index: 1;
            &__lines,
            &__lines::before,
            &__lines::after {
                width: 1.5rem;
                height: 0.1rem;
                background-color: #111111;
                transition: all 0.5s ease-in-out;
            }
            &__lines::before,
            &__lines::after {
                content: '';
                position: absolute;
            }
            &__lines::before {
                transform: translateY(-0.5rem);
                width: 80%;
            }
            &__lines::after {
                transform: translateY(0.5rem);
                width: 60%;
            }
            &.open .menu-btn__lines {
                transform: translateX(2rem);
                background-color: transparent;
                width: 100%;
            }
            &.open .menu-btn__lines::before {
                transform: rotate(45deg) translate(-1.5rem, 1.5rem);
                width: 100%;
                background-color: #fff;
            }
            &.open .menu-btn__lines::after {
                transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
                width: 100%;
                background-color: #fff;
            }
        }
        .menu-items {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 100vh;
            background-color: $color-secondary-dark;
            list-style: none;
            transform: translateX(100vw);
            transition: transform 0.3s ease-in-out;
            &.open {
                transform: translateX(0);
            }
            li {
                width: 100vw;
                height: 100%;
            }
            li a {
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            }
            li a:hover {
                background-color: #ff4f4f;
                color: $color-primary-dark;
            }
        }
    }
}