@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,300&family=Ultra&display=swap');

/* Font Rules

    font-family: 'Raleway', sans-serif;
    font-family: 'Ultra', serif;
*/


/* font family 
primary 
    font : Raleway
    weight : 400
accent
    font : Raleway
    weight : 300
    style : italic
*/

$font-primary: 'Raleway',
sans-serif;
$font-secondary: 'Ultra',
serif;

/* Color
primary
    normal : #01579b
    light : #4f83cc
    dark : #002f6c
secondary 
    normal : #ffc107
    light : #fff350
    dark : #c79100
*/

$color-primary: #0a004b;
$color-primary-dark: #000025;
$color-secondary: #ff4f4f;
$color-secondary-dark:#c50426;

/* Début du traitement

*/

* {
    scroll-behavior: smooth;
    font-family: $font-primary;
}

html,
body {
    margin: 0;
    padding: 0;
}

// Landing Page pb avec contenu supp à taille ecran impossible overflow hidden
// #onOnce {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100vh;
//     width: 100%;
//     background-color: #111111;
//     z-index: 999;
//     overflow: hidden;
// }
// .content {
//     height: 1000px;
// }
ul.transition {
    display: flex;
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    pointer-events: none;
    padding: 0;
    list-style: none;
    li {
        transform: scaleY(0);
        background-color: $color-primary-dark;
        width: calc(100% / 6);
    }
}

.toggle-btn {
    display: block;
    position: fixed;
    width: 50px;
    height: 30px;
    top: 60px;
    right: 80px;
    z-index: 200;
    cursor: pointer;
    span {
        display: block;
        position: absolute;
        height: 4px;
        transition: width .4s ease-in-out;
        width: 100%;
        background-color: $color-primary-dark;
    }
    .one {
        position: absolute;
        // &.toggle {
        //     background-color: $color-secondary;
        // }
    }
    .two {
        position: absolute;
        margin-top: 12px;
        // &.toggle {
        //     background-color: $color-secondary;
        // }
    }
}

.menu {
    z-index: 0;
    position: absolute;
    background-color: $color-primary;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    .data {
        padding: 8em 0 0 2em;
        text-align: left;
        ul {
            list-style: none;
            li:first-child {
                color: $color-secondary-dark;
                font-family: $font-secondary;
                font-size: 2rem;
            }
            li:not(:first-child) {
                color: $color-secondary;
                font-size: 4rem;
            }
            a {
                color: $color-secondary;
                text-decoration: none;
                &:hover {
                    color: $color-secondary-dark;
                }
            }
        }
    }
}