@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,300&family=Ultra&display=swap');

/* Font Rules

    font-family: 'Raleway', sans-serif;
    font-family: 'Ultra', serif;
*/


/* font family 
primary 
    font : Raleway
    weight : 400
accent
    font : Raleway
    weight : 300
    style : italic
*/

$font-primary: 'Raleway',
sans-serif;
$font-secondary: 'Ultra',
serif;

/* Color
primary
    normal : #01579b
    light : #4f83cc
    dark : #002f6c
secondary 
    normal : #ffc107
    light : #fff350
    dark : #c79100
*/

$color-primary: #0a004b;
$color-primary-dark: #000025;
$color-secondary: #ff4f4f;
$color-secondary-dark:#c50426;

/* Début du traitement

*/

* {
    scroll-behavior: smooth;
    font-family: $font-primary;
    box-sizing: border-box;
}

html,
body {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
    margin: 0;
    padding: 0;
}

.wrapper {
    .toggle-btn {
        display: block;
        position: fixed;
        width: 50px;
        height: 30px;
        top: 60px;
        right: 80px;
        z-index: 200;
        cursor: pointer;
        span {
            display: block;
            position: absolute;
            height: 4px;
            transition: width .4s ease-in-out;
            width: 100%;
            background-color: $color-primary-dark;
        }
        .one {
            position: absolute;
        }
        .two {
            position: absolute;
            margin-top: 12px;
        }
    }
    .menu {
        z-index: 1;
        position: absolute;
        background-color: $color-primary;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        .data {
            padding: 8em 0 0 2em;
            text-align: left;
            ul {
                list-style: none;
                li:first-child {
                    color: $color-secondary-dark;
                    font-family: $font-secondary;
                    font-size: 2rem;
                }
                li:not(:first-child) {
                    color: $color-secondary;
                    font-size: 4rem;
                }
                a {
                    color: $color-secondary;
                    text-decoration: none;
                    &:hover {
                        color: $color-secondary-dark;
                    }
                }
            }
        }
    }
}

.landing {
    display: grid;
    height: 100vh;
    grid-template: "wrapperTitle  caroussel" "contact contact";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    .wrapperTitle {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        grid-area: wrapperTitle;
        background-color: #fff;
        padding: 1.5rem;
        p {
            line-height: 1.5em;
            text-align: center;
        }
    }
    .caroussel {
        position: relative;
        grid-area: caroussel;
        background-color: rgb(220, 220, 220);
        // overflow-x: hidden;
        .projects {
            height: 100%;
            width: 500%;
            display: flex;
            .projet1 {
                height: 100%;
                width: 20%;
                background: url(../images/testLandingPageLeft.jpg) center center;
                background-size: cover;
            }
            .projet2 {
                height: 100%;
                width: 20%;
                background: url(../images/testLandingPageLeft.jpg) center center;
                background-size: cover;
            }
        }
        .control {
            position: absolute;
            display: flex;
            justify-content: space-between;
            left: 8%;
            right: 8%;
            top: 50%;
            button {
                background: none;
                border: none;
                cursor: pointer;
                i {
                    font-size: 1.5em;
                }
            }
        }
    }
}

.intro {
    background: #000;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    .intro-text {
        color: rgb(227, 242, 255);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2rem;
        text-align: justify;
        .hide {
            font-size: 2em;
            padding: 0;
            margin: 0;
            background: #000;
            overflow: hidden;
            span {
                transform: translateY(100%);
                display: inline-block;
            }
        }
    }
    #loader {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        text-align: center;
        opacity: 0;
    }
    #loader .dot {
        width: 12px;
        height: 12px;
        display: inline-block;
        border-radius: 50%;
        margin-right: 5px;
        border: 2px solid #fff;
    }
}

.sliderAnimation {
    background: rgb(121, 54, 54);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}


/*=========================== Responsive grid ===========================*/

@media only screen and (max-width: 1024px) {
    .landing {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr;
        grid-template-areas: "wrapperTitle" "caroussel" "contact";
    }
}